aiosmtpd
alembic
annotated-types
anyio
atpublic
attrs
azure-ai-inference
azure-core
bidict
blinker
cachelib
cachetools
certifi
chardet
charset-normalizer
click
cs50
deepseek
distro
dnspython
docstring_parser
dominate
eventlet
Flask
Flask-Bootstrap
Flask-Mail
Flask-Migrate
Flask-MySQL
Flask-Session
Flask-SocketIO
Flask-SQLAlchemy
google-api-core
google-auth
google-cloud-aiplatform
google-cloud-bigquery
google-cloud-core
google-cloud-resource-manager
google-cloud-storage
google-crc32c
google-resumable-media
googleapis-common-protos
greenlet
grpc-google-iam-v1
grpcio
grpcio-status
gunicorn
h11
httpcore
httpx
idna
isodate
itsdangerous
Jinja2
jiter
Mako
MarkupSafe
msgspec
mysql-connector-python
numpy
openai
packaging
pdfkit
Pillow
proto-plus
protobuf
pyasn1
pyasn1_modules
pydantic
pydantic_core
PyMySQL
pyotp
python-dateutil
python-dotenv
python-engineio
python-socketio
pytz
reportlab
requests
rsa
shapely
simple-websocket
six
sniffio
SQLAlchemy
sqlparse
termcolor
tqdm
typing-inspection
typing_extensions
urllib3
validate-email-address
vertexai
visitor
Werkzeug
wheel
wsproto
