{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mt-4 project-name">{% block project_name %}{% endblock %}</h1>
    <nav>
        <ul class="nav-tabs">
            <li><a href="{{ url_for('project_detail', project_id=project.project_id, tab='overview') }}" class="{% if request.args.get('tab') == 'overview' or not request.args.get('tab') %}active{% endif %}">Aperçu</a></li>
            <li><a href="{{ url_for('project_detail', project_id=project.project_id, tab='timeline') }}" class="{% if request.args.get('tab') == 'timeline' %}active{% endif %}">Chronologie</a></li>
            <li><a href="{{ url_for('project_detail', project_id=project.project_id, tab='tasks') }}" class="{% if request.args.get('tab') == 'tasks' %}active{% endif %}">Tâches</a></li>
            <li><a href="{{ url_for('project_detail', project_id=project.project_id, tab='team') }}" class="{% if request.args.get('tab') == 'team' %}active{% endif %}">Équipe</a></li>
            <li><a href="{{ url_for('project_detail', project_id=project.project_id, tab='admin') }}" class="{% if request.args.get('tab') == 'admin' %}active{% endif %}">Parametre</a></li>
            <li class="more-menu">•••</li>
        </ul>
    </nav>
    
    {% block project_content %}{% endblock %}
</div>
{% endblock %}

