<div class="tab-pane fade show active" id="tasks" role="tabpanel" aria-labelledby="tasks-tab">
    <div class="card h-100 mt-4" style="background-color: #f0f8ff; border-radius: 10px; padding-left: 15px; padding-right: 15px;">
        <div class="card-body">
            <div class="kanban-board" style="display: flex; justify-content: space-around;">
                <div class="kanban-column" style="flex: 1; margin: 0 5px; padding: 10px; background-color: #ffffff; border-radius: 10px; font-size: 11px; display: flex; flex-direction: column; justify-content: space-between;">
                    <div>
                        <h3 style="font-size: 13.25px; font-weight: normal;">À faire</h3>
                        <div style="width: 250px;"></div>
                        <!-- Pending tasks will be displayed here -->
                        <div id="todoTasks">
                            {% for task in tasks if task.status == 'TODO' %}
                            <div class="task" style="position: relative;">
                                <strong>{{ task.title }}</strong>
                                <p>{{ task.description }}</p>
                                <p>Assigné à: 
                                    {% if task.assigned_users %}
                                        {% for user in task.assigned_users %}
                                            {{ user.name }}{% if not loop.last %}, {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        Non assigné
                                    {% endif %}
                                </p>
                                <div class="participants-icon" style="position: absolute; bottom: 10px; right: 10px;">
                                    <img src="{{ url_for('static', filename='images/Users.svg') }}" alt="Participants" style="width: 24px; height: 24px; cursor: pointer;" data-toggle="popover" data-trigger="hover" data-html="true" data-content="{% for user in task.assigned_users %}{{ user.name }}<br>{% endfor %}">
                                </div>
                                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#assignUserModal" onclick="setTaskId('{{ task.task_id }}')">
                                    Assigner un utilisateur
                                </button>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <button class="btn btn-light mt-2" style="background-color: #ffffff; width: 100%; font-size: 13.25px; font-weight: normal; text-align: left;" data-toggle="modal" data-target="#newTaskModal" onclick="setTaskStatus('TODO')">
                        <span style="font-size: 16px; margin-right: 5px;">+</span> Nouvelle tâche
                    </button>
                </div>
                <div class="kanban-column" style="flex: 1; margin: 0 5px; padding: 10px; background-color: #ffffff; border-radius: 10px; font-size: 11px; display: flex; flex-direction: column; justify-content: space-between;">
                    <div>
                        <h3 style="font-size: 13.25px; font-weight: normal;">En cours</h3>
                        <div style="width: 250px;"></div>
                        <!-- Tasks will go here -->
                         <div id="pendingTasks">
                            {% for task in tasks if task.status == 'IN_PROGRESS' %}
                            <div class="task" style="position: relative;">
                                <strong>{{ task.title }}</strong>
                                <p>{{ task.description }}</p>
                                <p>Assigné à: 
                                    {% if task.assigned_users %}
                                        {% for user in task.assigned_users %}
                                            {{ user.name }}{% if not loop.last %}, {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        Non assigné
                                    {% endif %}
                                </p>
                                <div class="participants-icon" style="position: absolute; bottom: 10px; right: 10px;">
                                    <img src="{{ url_for('static', filename='images/Users.svg') }}" alt="Participants" style="width: 24px; height: 24px; cursor: pointer;" data-toggle="popover" data-trigger="hover" data-html="true" data-content="{% for user in task.assigned_users %}{{ user.name }}<br>{% endfor %}">
                                </div>
                                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#assignUserModal" onclick="setTaskId('{{ task.task_id }}')">
                                    Assigner un utilisateur
                                </button>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <button class="btn btn-light mt-2" style="background-color: #ffffff; width: 100%; font-size: 13.25px; font-weight: normal; text-align: left;" data-toggle="modal" data-target="#newTaskModal" onclick="setTaskStatus('IN_PROGRESS')">
                        <span style="font-size: 16px; margin-right: 5px;">+</span> Nouvelle tâche
                    </button>
                </div>
                <div class="kanban-column" style="flex: 1; margin: 0 5px; padding: 10px; background-color: #ffffff; border-radius: 10px; font-size: 11px; display: flex; flex-direction: column; justify-content: space-between;">
                    <div>
                        <h3 style="font-size: 13.25px; font-weight: normal;">Terminer</h3>
                        <div style="width: 250px;"></div>
                        <!-- Tasks will go here -->
                         <div id="doneTasks">
                            {% for task in tasks if task.status == 'DONE' %}
                            <div class="task" style="position: relative;">
                                <strong>{{ task.title }}</strong>
                                <p>{{ task.description }}</p>
                                <p>Assigné à: 
                                    {% if task.assigned_users %}
                                        {% for user in task.assigned_users %}
                                            {{ user.name }}{% if not loop.last %}, {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        Non assigné
                                    {% endif %}
                                </p>
                                <div class="participants-icon" style="position: absolute; bottom: 10px; right: 10px;">
                                    <img src="{{ url_for('static', filename='images/Users.svg') }}" alt="Participants" style="width: 24px; height: 24px; cursor: pointer;" data-toggle="popover" data-trigger="hover" data-html="true" data-content="{% for user in task.assigned_users %}{{ user.name }}<br>{% endfor %}">
                                </div>
                                <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#assignUserModal" onclick="setTaskId('{{ task.task_id }}')">
                                    Assigner un utilisateur
                                </button>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <button class="btn btn-light mt-2" style="background-color: #ffffff; width: 100%; font-size: 13.25px; font-weight: normal; text-align: left;" data-toggle="modal" data-target="#newTaskModal" onclick="setTaskStatus('DONE')">
                        <span style="font-size: 16px; margin-right: 5px;">+</span> Nouvelle tâche
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- New Task Modal -->
<div class="modal fade" id="newTaskModal" tabindex="-1" role="dialog" aria-labelledby="newTaskModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newTaskModalLabel">Créer une nouvelle tâche</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="newTaskForm">
                    <div class="form-group">
                        <label for="taskTitle">Titre de la tâche</label>
                        <input type="text" class="form-control" id="taskTitle" placeholder="Entrez le titre de la tâche">
                    </div>
                    <div class="form-group">
                        <label for="taskDescription">Description</label>
                        <textarea class="form-control" id="taskDescription" rows="3" placeholder="Entrez la description de la tâche"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="taskPriority">Priorité</label>
                        <select class="form-control" id="taskPriority">
                            <option>low</option>
                            <option>medium</option>
                            <option>high</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="taskStartDate">Date de début</label>
                        <input type="date" class="form-control" id="taskStartDate" placeholder="dd/mm/yyyy">
                    </div>
                    <div class="form-group">
                        <label for="taskEndDate">Date de fin</label>
                        <input type="date" class="form-control" id="taskEndDate" placeholder="dd/mm/yyyy">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                <button type="button" class="btn btn-primary" onclick="createTask()">Créer la tâche</button>
            </div>
        </div>
    </div>
</div>

<!-- Assign User Modal -->
<div class="modal fade" id="assignUserModal" tabindex="-1" role="dialog" aria-labelledby="assignUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="assignUserModalLabel">Assigner un utilisateur</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="assignUserForm">
                    <div class="form-group">
                        <label for="taskUser">Utilisateur</label>
                        <select class="form-control" id="taskUser" multiple>
                            {% for participant in participants %}
                                <option value="{{ participant.user_id }}">{{ participant.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="note">Note</label>
                        <input type="text" class="form-control" id="note" name="note">
                    </div>
                    <input type="hidden" id="task_id" name="task_id">
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="submitAssignUserForm()">Assigner un utilisateur</button>
            </div>
        </div>
    </div>
</div>

<script>
let taskStatus = 'TODO';

function setTaskStatus(status) {
    taskStatus = status;
}

function setTaskId(taskId) {
    document.getElementById('task_id').value = taskId;
}

$(document).ready(function(){
    $('[data-toggle="popover"]').popover({
        html: true,
        placement: 'top'
    });
});

function submitAssignUserForm() {
    const form = document.getElementById('assignUserForm');
    const selectedUsers = Array.from(form.taskUser.selectedOptions).map(option => option.value);
    const data = {
        user_ids: selectedUsers,
        note: form.note.value,
        task_id: form.task_id.value
    };

    fetch('/assign_user', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify(data)
    })
    .then(response => response.json())
    .then(data => {
        if (data.message === 'User(s) assigned successfully') {
            $('#assignUserModal').modal('hide');
            location.reload();
        } else {
            alert('Failed to assign user: ' + data.message);
        }
    });
}

function createTask() {
    const title = document.getElementById('taskTitle').value;
    const description = document.getElementById('taskDescription').value;
    const priority = document.getElementById('taskPriority').value;
    const startDate = document.getElementById('taskStartDate').value;
    const endDate = document.getElementById('taskEndDate').value;

    fetch('/add_task', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({
            title: title,
            description: description,
            priority: priority,
            start_date: startDate,
            end_date: endDate,
            status: taskStatus,
            project_id: "{{ project.project_id }}"
        }),
    })
    .then(response => response.json())
    .then(data => {
        if (data.message === 'Task created successfully') {
            $('#newTaskModal').modal('hide');
            location.reload(); // Reload the page to show the new task
        } else {
            alert('Failed to create task');
        }
    })
    .catch(error => {
        console.error('Error:', error);
        alert('Failed to create task');
    });
}
</script>
